
//mixin

@mixin flex($content) {
    display: flex;
    justify-content: $content;
    align-items: center;
}

.aboutme{
    position: relative;
    width: 100%;
    height: 100vh;
    @include flex(center);
    color: white;
    overflow: hidden;
    background-image: url(../img/background.jpg);
    .filter{
        position: relative;
        width: 100%;
        height: 100%;
        @include flex(center);
        flex-direction: column;
        .text1{
            position: relative;
            width:80%;
            height: 60%;
            @include flex(space-around);
            flex-direction: column;
            h1{
                letter-spacing: 3px;
                &::before{
                    content: "";
                    position: absolute;
                    width: 150px;
                    height: 5px;
                    left:50%;
                    top:92px;
                    transform: translateX(-50%);
                    background-color: yellow;
                    border-radius: 50%;
                }
                &::after{
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    left:50%;
                    top:94px;
                    transform: translate(-50%,-50%);
                    background-color: yellow;
                    border-radius: 50%;
                }
            }
            .t1-card{
                backdrop-filter: blur(2px);
                background-color: rgba(0, 0, 0, 0.473);
                padding: 40px;
                border-radius: 10px;
                h3{
                    margin-bottom: 20px;
                    color: rgba(255, 255, 0, 0.644) ;
                }
            }
        }
        .text2{
            position: relative;
            width:80%;
            height: 40%;
            .t2-card{
                backdrop-filter: blur(2px);
                background-color: rgba(0, 0, 0, 0.473);
                padding: 40px;
                border-radius: 10px;
            }
            .t2-info{
                @include flex(space-between);
                margin-top:10px;
            }
            h3{
                margin-bottom: 20px;
                color: rgba(255, 255, 0, 0.644) ;
            }
            span{
                color: rgba(255, 255, 0, 0.644) ;
            }
        }
    }
}

$other-devices: 400px;
$extra-small: 576px;
$small: 768px;
$medium: 992px;
$large: 1200px;

//styles for media sizes

@media only screen and (max-width: $large) {
    
}
@media only screen and (max-width: $medium) {
    
}
@media only screen and (max-width: $small) {
    .aboutme{
        .filter{
            .text1{
                margin-bottom: 10px;
                width: 90%;
            }
            .text2{
                width:90%;
                margin-top: 10px;
            }
        }
    }
}
@media only screen and (max-width: $extra-small) {
    .aboutme{
        .filter{
            .text1{
                width:90%;
            }
            .text2{
                width:90%;
                .t2-info{
                    flex-direction: column;
                }
                p{
                    text-align: center;
                }
                h3{
                    font-size: 14px;
                }
                span{
                    font-size: 14px;
                }
            }
        }
    }
}
@media only screen and (max-width: $other-devices) {
    
}
